.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}
.food{
    border: 2px solid rgb(6, 241, 6);
    padding: 10px;
    border-radius: 10px;
}
.food img{
    width: 270px;
}